vendor/zizaco
vendor/webmozart
vendor/vlucas
vendor/symfony
vendor/swiftmailer
vendor/sebastian
vendor/psy
vendor/psr
vendor/phpunit
vendor/phpspec
vendor/phpdocumentor
vendor/paragonie
vendor/nikic
vendor/nesbot
vendor/mtdowling
vendor/monolog
vendor/mockery
vendor/league
vendor/laravelcollective
vendor/jeremeamia
vendor/jakub-onderka
vendor/hamcrest
vendor/fzaninotto
vendor/doctrine
vendor/dnoegel
vendor/composer
vendor/classpreloader
vendor/bin
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
